<div id="page">
    <div >
        <p-card id="ui">
            <p-dropdown [virtualScroll]="true" [virtualScrollItemSize]="38" placeholder="Select a Pokemon" [options]="pokedex" optionLabel="name" [(ngModel)]="selectedPokemon" (onChange)="updateFusions()"></p-dropdown>
            <p-virtualScroller [value]="fusions" [style]="{'width': '400px'}" scrollHeight="200px" [itemSize]="38">
                <ng-template pTemplate="fusion" let-fusion>
                    <div>
                        Head: {{fusion.head}}
                        | Body: {{fusion.body}}
                        | BST: {{getBST(fusion)| number:'1.0-0'}}
                    </div>
                </ng-template>
            </p-virtualScroller>
        </p-card>
    </div>
</div>
