<div id="page">
    <div id="container">
        <div class="third">
            <p-card id="filters">
                Sort by stat:
                <p-dropdown autoWidth="true" [style]="{'width':'300px'}" [virtualScroll]="true"
                    [virtualScrollItemSize]="38" placeholder="Sort by?" [options]="sortOptions" optionLabel="name"
                    [(ngModel)]="selectedSort" (onChange)="updateFilters()"></p-dropdown><br>
                Filter by type:
                <p-dropdown autoWidth="true" [style]="{'width':'300px'}" [virtualScroll]="true"
                    [virtualScrollItemSize]="38" placeholder="Filter type by?" [options]="typeFilters"
                    optionLabel="name" [(ngModel)]="selectedFilter" (onChange)="updateFilters()"></p-dropdown><br>
                Filter by ability:
                <input type="text" pInputText (keyup)="updateFilters()" [(ngModel)]="abilitySearch" /><br>
                <div *ngFor="let filter of legendaryFilters" class="field-checkbox">
                    <p-radioButton name="category" (onClick)="updateFilters()" [value]="filter.filter"
                        [(ngModel)]="selectedLegendaryFilter"></p-radioButton>
                    <label class="ml-2">{{ filter.name }}</label>
                </div>
                <br>
                <div *ngFor="let slider of sliders; index as i" class="sliderContainer">
                    <label>{{slider.display}}</label>
                    <input type="number" pInputText [(ngModel)]="slider.minValue" />
                    <p-slider [(ngModel)]="slider.minValue" (onChange)="updateFilters()"
                        [max]="slider.maxValue"></p-slider>
                </div><br>
                <div *ngFor="let filter of spriteFilters" class="field-checkbox">
                    <p-radioButton name="category" (onClick)="updateFilters()" [value]="filter.filter"
                        [(ngModel)]="selectedSpriteFilter"></p-radioButton>
                    <label class="ml-2">{{ filter.name }}</label>
                </div>
            </p-card>
        </div>
        <div class="third">
            <p-card id="list">
                <p-dropdown autoWidth="true" [filter]="true" [style]="{'width':'300px'}" [virtualScroll]="true"
                    [virtualScrollItemSize]="38" placeholder="Select a Pokemon" [options]="pokedex" optionLabel="name"
                    [(ngModel)]="selectedPokemon" (onChange)="update()"></p-dropdown>
                <p-virtualScroller [value]="filteredfusions" [style]="{'width': '100%'}" scrollHeight="500px"
                    [itemSize]="38">
                    <ng-template pTemplate="fusion" let-fusion>
                        <div (click)="selectFusion(fusion)" class="listRow">
                            <label style="cursor: pointer">{{fusion.head}} / {{fusion.body}}</label>
                            <label style="cursor: pointer">| BST: {{fusion.BST}}</label>
                            <label style="cursor: pointer">| Type: </label>
                            <div class="typeRow"><img *ngFor="let type of fusion.type" class="rowImg"
                                    src="assets/types/{{type}}.png"></div>
                        </div>
                        <p-divider></p-divider>
                    </ng-template>
                </p-virtualScroller>
            </p-card>
        </div>
        <div class="third">
            <p-card *ngIf="selectedFusion" id="fusion">
                <img *ngIf="selectedFusion.imgName != null" [src]="selectedFusion.imgName"> <br>
                {{selectedFusion.name}} <br>
                <img *ngFor="let type of selectedFusion.type" src="assets/types/{{type}}.png"><br>
                HP: {{selectedFusion.HP}} <label class="greaterThan"
                    *ngIf="selectedFusion.HP >= selectedPokemon.HP;else lessHP">(+{{selectedFusion.HP -
                    selectedPokemon.HP}})</label><ng-template #lessHP><label class="lessThan">({{selectedFusion.HP -
                        selectedPokemon.HP}})</label></ng-template><br>
                Atk: {{selectedFusion.attack}} <label class="greaterThan"
                    *ngIf="selectedFusion.attack >= selectedPokemon.attack;else lessATK">(+{{selectedFusion.attack -
                    selectedPokemon.attack}})</label><ng-template #lessATK><label class="lessThan">({{selectedFusion.attack
                        -
                        selectedPokemon.attack}})</label></ng-template><br>
                Def: {{selectedFusion.defense}} <label class="greaterThan"
                    *ngIf="selectedFusion.defense >= selectedPokemon.defense;else lessDef">(+{{selectedFusion.defense -
                    selectedPokemon.defense}})</label><ng-template #lessDef><label
                        class="lessThan">({{selectedFusion.defense -
                        selectedPokemon.defense}})</label></ng-template><br>
                Sp. Atk: {{selectedFusion.spAttack}} <label class="greaterThan"
                    *ngIf="selectedFusion.spAttack >= selectedPokemon.spAttack;else lessSPAtk">(+{{selectedFusion.spAttack -
                    selectedPokemon.spAttack}})</label><ng-template #lessSPAtk><label
                        class="lessThan">({{selectedFusion.spAttack -
                        selectedPokemon.spAttack}})</label></ng-template><br>
                Sp. Def: {{selectedFusion.spDefense}} <label class="greaterThan"
                    *ngIf="selectedFusion.spDefense >= selectedPokemon.spDefense;else lessSPDef">(+{{selectedFusion.spDefense
                    -
                    selectedPokemon.spDefense}})</label><ng-template #lessSPDef><label
                        class="lessThan">({{selectedFusion.spDefense -
                        selectedPokemon.spDefense}})</label></ng-template><br>
                Speed: {{selectedFusion.speed}} <label class="greaterThan"
                    *ngIf="selectedFusion.speed >= selectedPokemon.speed;else lessSpeed">(+{{selectedFusion.speed -
                    selectedPokemon.speed}})</label><ng-template #lessSpeed><label class="lessThan">({{selectedFusion.speed -
                        selectedPokemon.speed}})</label></ng-template><br>
                BST: {{selectedFusion.BST}} <label class="greaterThan"
                    *ngIf="selectedFusion.BST >= selectedPokemon.BST;else lessBST">(+{{selectedFusion.BST
                    -
                    selectedPokemon.BST}})</label><ng-template #lessBST><label class="lessThan">({{selectedFusion.BST -
                        selectedPokemon.BST}})</label></ng-template><br>
                Abilities: {{selectedFusion.abilities | abilityDisplay}}<br>
                <br>
                Hidden abilities are denoted with brackets
            </p-card>
        </div>
    </div>
</div>