#page{
    height:100%;
    width:100%
}
#container{
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.third{
    width: auto;
    height: auto;
    margin: 30px;
}
p-card{

}
